.form_connexion{
 // background-color: var(--color-container);
  //display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  @include padding(3rem, 3rem, 3rem, 3rem);
  gap: 1.2rem;
  border-radius: 5rem;
  width: 50rem;
}
.test{
  background-color: var(--color-container);
}

.connexion__mail{
  grid-area: 3/3/3/3;
}
.connexion__mdp{
  grid-area: 4/3/4/4;
}

.saveInfo{
  grid-area: 6/3/6/3;
}

.connexion__submitForm{
  grid-area: 7/3/7/3;
}
.connexion__title{
  grid-area: 1/3/3/4;
  margin-bottom: 2rem;
}

