body{
    position: relative;
}

.title__recruteur{
  color: var(--white);
}

.header-item{
    padding-bottom: 3.4rem;
}

.container{
    &__recrutement{
      display: flex;
    }
}

.buttons_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & > button{
    color: var(--d-blue);
    border: none;
    border-radius: 1rem;
    &:nth-child(1){
      margin-right: 2rem;
      &:hover{
        transition: ease-in-out .2s;
        background-color: orange;
      }
    }
    &:nth-child(2){
      margin-left: 2rem;
      &:hover{
        transition: ease-in-out .2s;
        background-color: red;
      }
    }
  }

}
.btnJobs{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--violet);
  border-radius: 1rem;
  color: var(--white);
  padding: .2rem;
  &:nth-child(1){
    margin-right: 2rem;
  }
  &:nth-child(2){
    margin-left: 2rem;
  }
}


.article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    max-width: 111rem;
    padding: 0 0 6.2rem;
    margin-left: 10rem;
}
.load__recruit{
  top: 15rem;
  margin-top: 0;
  margin-bottom: 0;
}
.sideBar{
    position: sticky;
    top: 20rem;
    max-width: 20rem;
    height: fit-content;
    background-color: var(--color-container);
    border-radius: 1rem;

  & > li{
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
    &:hover {
      background-color: var(--violet);
      transition: 500ms linear;
    }
    &:last-child{
      margin-bottom: 0;
    }
    & > button{
      padding: 1rem;
      border: none;
      background-color: transparent;
      text-align: center;
      text-decoration: none;
      color: var(--name);
      font-weight: 700;
      white-space: nowrap;
    }
  }
 }

.active{
  background-color: var(--violet);
}


.form__add__jobs{
  background-color: var(--color-container);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 3rem;
  gap: 1.2rem;
  border-radius: 5rem;
  margin-top: 0;
}


