//import font
@font-face {
    font-family: 'kumbh';
    font-style: none;
    font-display: swap;
    font-weight: 700;
    src: local(''),
    url('../../assets/fonts/kumbh-sans-v10-latin-700.woff') format('woff'),
    url('../../assets/fonts/kumbh-sans-v10-latin-700.woff2') format('woff2');
    ;
}
@font-face {
    font-family: 'kumbh';
    font-style: none;
    font-display: swap;
    font-weight: 400;
    src: local(''),
    url('../../assets/fonts/kumbh-sans-v10-latin-regular.woff') format('woff'),
    url('../../assets/fonts/kumbh-sans-v10-latin-regular.woff2') format('woff2');
}

:root{
    //Primary Colors
    --violet: #5964E0;
    --l-violet: #939BF4;
    --midnight: #121721;
    --d-blue: #19202D;
    --dark: #121721;

    //Secondary Colors
    --white: #FFFFFF;
    --l-grey: #F4F6F8;
    --grey: #9DAEC2;
    --d-grey: #6E8098;

    //color background
    --color-bg: #F4F6F8;
    --color-container: #FFFFFF;

    //svg
    --color-svg: invert(54%) sepia(10%) saturate(920%) hue-rotate(175deg) brightness(90%) contrast(86%);

    //typoColor
    --name: var(--d-blue);

    //switch dark mode
    --switch-padding: 0.3rem;
    --switch-height: 2.4rem;
    --switch-width: 5rem;
    --switch-animation-duration: 0.2s;
    --switch-button-color: var(--violet);
    --form-text: var(--d-blue);
}
[data-theme="dark"]{
    --color-bg: var(--midnight);
    --color-container: var(--d-blue);
    --form-text: var(--white);
    --color-svg: invert(100%) sepia(100%) saturate(2%) hue-rotate(263deg) brightness(103%) contrast(101%);
    --name: var(--white);
}


h1,
h2,
h3,
h4,
label,
input{
    font-weight: 700;
}
h1{
    line-height: 3.4rem;
    font-size: 2.8rem;
}
h2{
    line-height: 2.9rem;
}
h3{
    line-height: 2.4rem;
}
h4{
    line-height: 1.7rem;
}

p{
    color: var(--d-grey);
}

body{
    font-family: 'kumbh', sans-serif;
    font-weight: 400;
    line-height: 2.6rem;
    font-size: 1.6rem;
    background-color: var(--color-bg);
    color: var(--d-blue);
    position: relative;
    z-index: 1;
}


.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 111rem;
    width: 100%;
}

.hidden__body{
  pointer-events: none;
}