.header__main{
    margin-bottom: 9.7rem;
    display: block;
    background-image: url(/assets/img/Triangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: none;
    @include pc {
      background-image: url(/assets/img/background.svg);
      background-position: bottom;
      background-repeat: no-repeat;  
    }
}

.header__item{
    display: flex;
    justify-content: space-between;
    @include padding(2.4rem, 2.4rem, 3.2rem, 7.2rem);
    align-items: center;
}
.header__switchmode{
    display: flex;
    align-items: center;
    // @include margin(1.6rem, 1.6rem, 0, 0)
}

.logo{
    width: 11.5rem;
    height: 3.2rem;
}

.logo-switchmode{
    width: 2rem;
    height: 2rem;
    margin-right: 1.6rem;
    &lune{
        width: 1.2rem;
        height: 1.2rem;
        margin-left: 1.6rem;
    }
}

.header__main > .container{
    position: relative;
}
// =======
// filter
// =======

.filter__container{
    width: clamp(29rem, 87%, 111rem);
    background-color: var(--color-container);
    position: absolute;
    left: 2.5rem;
    top: 9.5rem;
    border-radius: 0.6rem 0.6rem 0.6rem 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet{
      width: clamp(29rem, 94%, 111rem);
    }
    @include pc{
      width: clamp(29rem, 98%, 111rem);
    }
    
    &__search{
      display: flex;
      gap: 1rem;
      @include margin(0, 5.1rem, 0, 0)
    }
    &__location{
      display: flex;
      gap: 1rem;
      @include margin(0, 1rem, 0, 0)
    }

}
#filter__location{
  display: none;
  @media screen and (min-width: 36em){
    display: block;
}
}

.filter{

  &__right{
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__search__title{
    display: block;
    border: none;
    color: var(--form-text);
    opacity: 0.5;
    background-color: var(--bg-color);
    width: 11rem;
    height: 2rem;
    margin-left: 2.4rem;
    outline: none;
    font-weight: 400;
    @include tablet {
      margin-left: 0;
    }
    @include pc {
      display: none;
    }
  }

  &__search__title__pc{
    display: none;
    @include pc{
      display: block;
      border: none;
      color: var(--form-text);
      opacity: 0.5;
      background-color: var(--bg-color);
      width: 26.8rem;
      height: 2rem;
      margin-left: 0;
      outline: none;
      font-weight: 400;
    }
  }
  &__search__location{
    font-weight: 400;
    border: none;
    color: var(--form-text);
    opacity: 0.5;
    background-color: var(--bg-color);
    width: 15rem;
    height: 2rem;
    outline: none;
  }
  
  &__search__logo__location{
    display: none;
    @include tablet{
      display: block;
      width: 1.6rem;
      height: 2.3rem;
      margin-left: 2.4rem;
    }
  }

  &__search__logo__search{
    display: none;
    @include tablet{
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      margin-left: 2.4rem;
    }
  }

  &__logo__btn {
    align-self: center;
    border: none;
    background: none;
    @include tablet{
      display: none;
    }
  }
  &__logo__logo{
    width: 2rem;
    height: 2rem;
    filter: var(--color-svg);
  }
  &__input{
    background-image: url("assets/img/icon-filter.svg");
    width: 2rem;
    height: 2rem;
  }

  &__fullTime{
    display: none;
    @media screen and (min-width: 48em)  {
      display: flex;
    }
  }

  &__search__submit{
    display: none;
    @include tablet {
      display: block;
      @include padding(1.6rem, 1.6rem, 1.4rem, 1.4rem);
      @include margin(0, 1.6rem, 0, 0);
      border: none;
      border-radius: .5rem;
      background-color: var(--violet);
      color: var(--white);
      align-self: center
    }
    @include pc{
      @include padding(3.55rem, 3.55rem, 1.7rem, 1.1rem);
    }
  }

  &__logo__container{
    background: none;
    border: none;
    @media screen and (min-width: 36em){
      display: none;
    }
  }


  &__button{
    border: none;
    background-color: var(--violet);
    width: 4.8rem;
    height: 4.8rem;
    margin-right: 1.6rem;
    border-radius: .5rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 36em){
      display: none;
  }


  &__logo{
    width: 2.3rem;
    height: 2.3rem;
  }

  &__container{
    margin-left: 2.4rem;
  }
  }

      // =======
      // modal
      // =======
      &__modal{
      display: none;
      position: fixed;
      width: 32.7rem;
      height: 21.7rem;
      background-color: var(--white);
      border-radius: .6rem;
      position: absolute;
      top: 22.5rem;
      left: 2.5rem;
      @include padding(2.4rem, 0, 2.4rem, 0);
      z-index: 500;

      &__location{
          display: block;
          width: 1.6rem;
          height: 2.3rem;
      }

      &__container{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 5.3rem;
        
      }

      &__search__location{
        border: none;
        color: var(--d-blue);
        opacity: 0.5;
        background-color: var(--bg-color);
        width: 13.3rem;
        height: 2rem;
        font-weight: 400;
      }

      &__fullTime{
        margin-bottom: 2.4rem;
        display: flex;
        gap: 2rem;
      }

      &__searchbtn{
        width: 27.9rem;
        height: 4.8rem;
        background-color: var(--violet);
        color: var(--white);
        border: none;
        border-radius: .5rem;
      }
      }
}
.visible{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1055;
}

#filter__checkBox{
  width: 2rem;
  height: 2rem;
  margin-right: 1.6rem;
  appearance: none;
  background-color: var(--l-grey);
}
.label2 {
  display: none;
  color: var(--name);
  @include pc{
    display: block;
  }
}
.label{
  color: var(--name);
  display: block;
  @include pc{
    display: none;
  }
}
.test{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.modalback{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  // background-color: #000;
}

.line{
  display: none;
  @include tablet{
    display: block;
    height: 8rem;
    border: 1px solid var(--grey);
    opacity: 0.5;
  }
}