.header__main > .container{
    display: block;
    background-image: url(/assets/img/Triangle.svg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: none;
}
.header__item{
    display: flex;
    justify-content: space-between;
    @include padding(2.4rem, 2.4rem, 3.2rem, 7.2rem);
    align-items: center;
}
.header__switchmode{
    display: flex;
    align-items: center;
    // @include margin(1.6rem, 1.6rem, 0, 0)
}

.logo{
    width: 11.5rem;
    height: 3.2rem;
}

.logo-switchmode{
    width: 2rem;
    height: 2rem;
    margin-right: 1.6rem;
    &lune{
        width: 1.2rem;
        height: 1.2rem;
        margin-left: 1.6rem;
    }
}

.header__main > .container{
    position: relative;
}
// =======
// filter
// =======

.filter > .container{
    position: relative;
}

.filter__container{
    min-width: 32.7rem;
    min-height: 8rem;
    background-color: var(--white);
    position: absolute;
    right: 2.4rem;
    top: 9.5rem;
    border-radius: 0.6rem 0.6rem 0.6rem 0.6rem;
    display: flex;
    align-items: center;
}

.filter__search{
    border: none;
    color: var(--d-blue);
    padding-left: 2.4rem;
}
.filter__logo {
    width: 2rem;
    height: 2rem;
}

.filter__button__container{
    margin-left: 2.4rem;
}

.filter__button__logo{
    width: 2rem;
    height: 2rem;
}

.filter__button{
    border: none;
    background-color: var(--violet);
    width: 4.8rem;
    height: 4.8rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}