.loader{
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 3rem;
}

.hidden{
  display: none;
}


.circle{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--violet);
  &:nth-child(1){
    left: 38%;
    position: absolute;
    animation: bounced 2s ease infinite;
    @include tablet{
    left: 44%;
    }
    @include pc {
    left: 47%;
    }
  }
  &:nth-child(2){
    left: 46%;
    position: absolute;
    animation: bounced 1s ease infinite;
    @include tablet{
      left: 48%;
    }
    @include pc{
    left: 49%;
    }
  }
  &:nth-child(3){
    left: 54%;
    position: absolute;
    animation: bounced 2s ease infinite;
    @include tablet{
    left: 52%;
    }
    @include pc {
    left: 51%;
    }
  }
}


@keyframes bounced{
  from {
    top: 0;
  }
  50%{
    top: -2rem;
  }
  to{
    top: 0;
  }
}



.scrollTop{
  @include pc{
  position: sticky;
  padding: 1.5rem;
  border: none;
  background-color: var(--violet);
  border-radius: 1rem;
  margin-left: 19rem;
  margin-top: 40rem;
  cursor: pointer;
  &:hover{
    opacity: .8;
  }
  }
}

.Sticky{
  display: none;
  @media screen and (min-width: 100em){
    
    position: fixed;
    display: inline-block;
  } 
  
}